name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install packages
        run: npm ci

      - run: mkdir -p bin/0.1.0/

      - name: Install solc
        run: |
          wget https://github.com/ethereum/solidity/releases/download/v0.8.26/solc-static-linux \
            -O bin/0.1.0/solc && chmod +x bin/0.1.0//solc
      
      - name: Install resolc
        run: |
          wget https://github.com/paritytech/revive/releases/download/v0.1.0-dev/resolc \
            -O bin/0.1.0//resolc && chmod +x bin/0.1.0//resolc

      - name: Test
        run: npm test
        timeout-minutes: 5

  lint-dockerfile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install hadolint
      run: |
        curl -LO https://github.com/hadolint/hadolint/releases/download/v2.12.0/hadolint-Linux-x86_64
        chmod +x hadolint-Linux-x86_64
        sudo mv hadolint-Linux-x86_64 /usr/local/bin/hadolint

    - name: Lint Dockerfile
      run: hadolint Dockerfile

  build-docker-image:
    runs-on: ubuntu-latest
    needs: lint-dockerfile
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: docker build -t revive-remix-backend:latest .
